@model CarService.Web.ViewModels.Cars.CarDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="media-body">
    <h5 class="mt-0"><a href="/Repair/ByCar?carId=@Model.Id"> View repairs for this car!</a></h5>
</div>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Make)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Make)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FuelType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FuelType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CubicCapacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CubicCapacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HorsePower)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HorsePower)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transmission)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transmission)
        </dd>
    </dl>
    <div class="row">
        @foreach (var image in Model.CarImages)
        {
            <div class="column">
                <img src="@image.Url" alt="Nature" style="width:100%" onclick="myFunction(this);">
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

    <script>
        function myFunction(imgs) {
            var expandImg = document.getElementById("expandedImg");
            var imgText = document.getElementById("imgtext");
            expandImg.src = imgs.src;
            imgText.innerHTML = imgs.alt;
            expandImg.parentElement.style.display = "block";
        }
    </script>